<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "assets/css/tailwindcss.min.css" }}" />
    <link rel="stylesheet" type="text/css" href="{{asset "assets/css/common.css" }}" />
    <script src="//at.alicdn.com/t/font_2282343_x0wb6gpk53q.js"></script>
    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in

    <head> --}}

</head>

<body class="{{body_class}}">
    <header class="site-header">
        <div class="container mx-auto">
            <div class="flex justify-between">
                <a href="{{@site.url}}" class="logo">{{@site.title}}</a>
                <div class="btn-menu items-center flex lg:hidden">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-menu"></use>
                    </svg>
                </div>
                <div class="menu hidden lg:flex  justify-center">
                    {{navigation}}
                </div>
            </div>
        </div>
    </header>

    <main class="site-main">

        {{{body}}}
        {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

    </main>

    <footer class="site-footer">
        <div class="container mx-auto">
            <span>© 2020 <a href="{{@site.url}}">{{@site.title}}</a></span>
            <a style="margin-left:10px" rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">
                皖ICP备20000149号-1
            </a>
        </div>
    </footer>


    {{!-- <foot> --}}

    <script src="{{asset "libs/jquery-3.4.1.min.js"}}"></script>
    <script src="{{asset "js/common.js"}}"></script>


    {{#if pagination.pages}}
    <script>
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "libs/infinitescroll.js"}}"></script>
    {{/if}}

    <script>
        $(document).ready(function () {
            // Mobile Menu Trigger
            $('.gh-burger').click(function () {
                $('body').toggleClass('gh-head-open');
            });
        });
    </script>
    {{ghost_foot}}
    {{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>

</html>